[Desktop Entry]
Version=1.0
Name=Zed
Comment=Run zed with Firejail for isolation
Exec=$HOME/.local/bin/zed/run_app.sh
Icon=$HOME/.local/bin/zed/zed.png
Terminal=false
Type=Application
Categories=Utility;
