[Desktop Entry]
Type=Application
Exec=sh -c '/usr/bin/timewall set $(readlink -f /home/omen/.cache/timewall/last_wall)'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Run Timewall
Comment=Runs Timewall script at login
