:root {
  --dark-accent0: rgb(255, 64, 80);
  --dark-accent0-r: 255;
  --dark-accent0-g: 64;
  --dark-accent0-b: 80;
  
  --dark-accent1: rgb(242, 129, 68);
  --dark-accent1-r: 242;
  --dark-accent1-g: 129;
  --dark-accent1-b: 68;
  
  --dark-accent2: rgb(255, 210, 74);
  --dark-accent2-r: 255;
  --dark-accent2-g: 210;
  --dark-accent2-b: 74;
  
  --dark-accent3: rgb(164, 204, 53);
  --dark-accent3-r: 164;
  --dark-accent3-g: 204;
  --dark-accent3-b: 53;
  
  --dark-accent4: rgb(38, 201, 158);
  --dark-accent4-r: 38;
  --dark-accent4-g: 201;
  --dark-accent4-b: 158;
  
  --dark-accent5: rgb(102, 191, 255);
  --dark-accent5-r: 102;
  --dark-accent5-g: 191;
  --dark-accent5-b: 255;
  
  --dark-accent6: rgb(204, 120, 250);
  --dark-accent6-r: 204;
  --dark-accent6-g: 120;
  --dark-accent6-b: 250;
  
  --dark-accent7: rgb(245, 83, 191);
  --dark-accent7-r: 245;
  --dark-accent7-g: 83;
  --dark-accent7-b: 191;
  
  --dark-shade0: rgb(40, 38, 41);
  --dark-shade0-r: 40;
  --dark-shade0-g: 38;
  --dark-shade0-b: 41;
  
  --dark-shade1: rgb(71, 66, 71);
  --dark-shade1-r: 71;
  --dark-shade1-g: 66;
  --dark-shade1-b: 71;
  
  --dark-shade2: rgb(101, 96, 102);
  --dark-shade2-r: 101;
  --dark-shade2-g: 96;
  --dark-shade2-b: 102;
  
  --dark-shade3: rgb(132, 126, 133);
  --dark-shade3-r: 132;
  --dark-shade3-g: 126;
  --dark-shade3-b: 133;
  
  --dark-shade4: rgb(162, 157, 163);
  --dark-shade4-r: 162;
  --dark-shade4-g: 157;
  --dark-shade4-b: 163;
  
  --dark-shade5: rgb(193, 188, 194);
  --dark-shade5-r: 193;
  --dark-shade5-g: 188;
  --dark-shade5-b: 194;
  
  --dark-shade6: rgb(224, 220, 224);
  --dark-shade6-r: 224;
  --dark-shade6-g: 220;
  --dark-shade6-b: 224;
  
  --dark-shade7: rgb(255, 252, 255);
  --dark-shade7-r: 255;
  --dark-shade7-g: 252;
  --dark-shade7-b: 255;
  
  --light-accent0: rgb(240, 62, 77);
  --light-accent0-r: 240;
  --light-accent0-g: 62;
  --light-accent0-b: 77;
  
  --light-accent1: rgb(243, 119, 53);
  --light-accent1-r: 243;
  --light-accent1-g: 119;
  --light-accent1-b: 53;
  
  --light-accent2: rgb(238, 186, 33);
  --light-accent2-r: 238;
  --light-accent2-g: 186;
  --light-accent2-b: 33;
  
  --light-accent3: rgb(151, 189, 45);
  --light-accent3-r: 151;
  --light-accent3-g: 189;
  --light-accent3-b: 45;
  
  --light-accent4: rgb(31, 197, 152);
  --light-accent4-r: 31;
  --light-accent4-g: 197;
  --light-accent4-b: 152;
  
  --light-accent5: rgb(83, 166, 225);
  --light-accent5-r: 83;
  --light-accent5-g: 166;
  --light-accent5-b: 225;
  
  --light-accent6: rgb(191, 101, 240);
  --light-accent6-r: 191;
  --light-accent6-g: 101;
  --light-accent6-b: 240;
  
  --light-accent7: rgb(238, 78, 184);
  --light-accent7-r: 238;
  --light-accent7-g: 78;
  --light-accent7-b: 184;
  
  --light-shade0: rgb(255, 252, 255);
  --light-shade0-r: 255;
  --light-shade0-g: 252;
  --light-shade0-b: 255;
  
  --light-shade1: rgb(224, 220, 224);
  --light-shade1-r: 224;
  --light-shade1-g: 220;
  --light-shade1-b: 224;
  
  --light-shade2: rgb(193, 188, 194);
  --light-shade2-r: 193;
  --light-shade2-g: 188;
  --light-shade2-b: 194;
  
  --light-shade3: rgb(162, 157, 163);
  --light-shade3-r: 162;
  --light-shade3-g: 157;
  --light-shade3-b: 163;
  
  --light-shade4: rgb(132, 126, 133);
  --light-shade4-r: 132;
  --light-shade4-g: 126;
  --light-shade4-b: 133;
  
  --light-shade5: rgb(101, 96, 102);
  --light-shade5-r: 101;
  --light-shade5-g: 96;
  --light-shade5-b: 102;
  
  --light-shade6: rgb(71, 66, 71);
  --light-shade6-r: 71;
  --light-shade6-g: 66;
  --light-shade6-b: 71;
  
  --light-shade7: rgb(40, 38, 41);
  --light-shade7-r: 40;
  --light-shade7-g: 38;
  --light-shade7-b: 41;
}